<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Placement_Portal.Site" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Placement Portal</title>
    <link href="CSS/style.css" rel="stylesheet" />
</head>
<body style="margin:0; padding:0; height:100%;">
    <form id="form1" runat="server" style="display:flex; flex-direction:column; min-height:100vh; margin:0;">
        <div class="header" style="flex-shrink:0;">
            <h1>Placement Management Portal</h1>
            <nav class="navbar">
                <input type="checkbox" id="menu-toggle" />
                <label for="menu-toggle" class="hamburger">&#9776</label>
                <div class="nav-links">
                <a href="/Default.aspx">Home</a>
                <a href="Student/StudentLogin.aspx">Student Login</a> 
                <a href="/Admin/AdminLogin.aspx">Admin Login</a> 
                <a href="/Company/CompanyLogin.aspx">Company Login</a>
                </div>
            </nav>
        </div>
        <div class="main-content-wrapper" style="flex: 1 0 auto; padding-bottom: 50px; padding-left: 30px; padding-right: 30px;">
        <asp:ContentPlaceHolder id="MainContent" runat="server">
        </asp:ContentPlaceHolder>
        </div>
        <div class="footer" style="flex-shrink:0; background-color:#004080; color:white; text-align:center; padding:15px 0;">
            <p>&copy; 2026 Placement Portal. All rights reserved.</p>
        </div>
    </form>
</body>
</html>